body {
  background-color: #e0e3dd;
}

#landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#landing-header {
  text-align: center;
}

#landing-details {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

#landing-details div {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: 'Playfair Display', serif;
}

h4 {
  font-family: 'Montserrat', sans-serif;
}

#landing-details figcaption {
  color: #FFFFFF;
  background-color: #4c4747;
  width: 30em;
  margin: .2em auto;
}

#main-self-pic {
  max-height: 30em;
  max-width: 30em;
}

#landing-subheader {
  font-size: 1.5em;
}

#nav-list {
  display: flex;
  justify-content: space-evenly;
}

.nav-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  display: block;
}

.nav-description {
  margin: 0.2em 0;
}

i {
  color: #000000;
}

i:hover {
  color: rgb(20, 67, 194);
}

.fa-golf-ball {
  color: #098f14;
}

.fa-school {
  color: #cc0d0d;
}

.fa-laptop {
  color: #0c0cd8;
}
